wordcloud==1.5.0
tqdm==4.36.1
seaborn==0.9.0
scipy==1.1.0
pandas==0.23.4
tables==3.5.2
numpy==1.15.1
matplotlib==3.0.0
h5py
implicit
Flask==1.0.2
Flask-Cache==0.13.1
Flask-Caching==1.4.0
Flask-Compress==1.4.0
Jinja2>=2.10.1
MarkupSafe==1.1.0
pylast==3.1.0
redis==3.3.11
